body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
  font-family: "Special Elite", serif;
  /*display: flex;
  flex-direction: column;*/
}

a {
  text-decoration: none;
  color: #282828;
}
a:hover {
  color:#9F691C;
}
/* ======= HEADER ====== */

header {
  width: 96vw;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1{
  font-size: 4em;
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: #C88239;
}
#hero p{
  font-size: 2em;
  padding-top: 0.5em;
  color: #4d4d4d;
  font-family: "Special Elite", serif;
}
.social {
  max-width: 100%;
  max-height: 100%;
}
@media(max-width: 69em){
  #logo{
    width: 80%;
    height: auto;
  }
  .social{
    width: 3em;
  }
}
/* ====== SPLASH PAGE ====== */
#splash {
  flex: 1 0 auto;
}
#potomac {
width: 100vw;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65vw;
  padding-top: 2em;
  margin: 0 auto;
  font-size: 1.5em;
}

    /*  ========= MY BOOKS ============= */
    /* ----------- My Books Header -------- */
    header {
      display: flex;
      height: 10em;
      margin-top: 1em;
      justify-content: space-between;
    }
    #subLogo{
    margin-right: 2em;
    }

    #socialIcons{
      display: flex;
      justify-content: flex-end;
    }

    #logoNav {
      display: flex;
      /*justify-content: space-around;*/
      width: 55vw;
      padding-bottom: 1em;
    }
    #logoNav img {
      height: 100%;
    }
    #subNav {
      display: flex;
      justify-content: space-between;
      font-size: 1.5em;
      margin-top: 1em;
      flex: 1 0 auto;
    }

  /*-------MY TITLES ----- */
  #myTitles{
    display: flex;
    align-items: center;
    height: 60vh;
    position:relative;
    overflow: hidden;
  }
  #bookCovers img {
    border: 2px solid #282828;
    height: 35vh;
    box-shadow: 5px 5px 2.5px #585443;
  }

  #bookCovers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-bottom: 4em;
  }

  #parchment{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    opacity: 0.5;
  }

/* ----- Buy Books & Inscribe  -----*/
  #bookBox {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 1em auto;
  }

  #buyBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
  }

  #buyOne{
    display: flex;
    align-items: center;
    width: 80%;
  }

  #buyBooks p, blockquote{
    font-family: 'Merriweather', Arial, sans-serif;
    text-align: center;
  }
  #buyBooks p{
    color: #4C6289;
    font-size: 1.5em;
  }
  #buyBooks blockquote{
    font-size: 1.5em;
  }
#indie {
    display: inline !important;
}
  #indieBound {
    color: #EC7823;
    display: inline !important;
  }
  #indie p {
    font-style: italic;
    font-size: 1em !important;
    flex-direction: row;
  }
  #inscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #578229;
    border-radius: 10px;
    max-width: 40%;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 2em;
  }
  #inscribe h2 {
    font-size: 1.6em;
  }

/* ===== SPEAKING ===== */

#campfire{
  position: absolute;
  left: 0;
  bottom:0;
  max-height: 80vh;
  z-index: -1;
}
#speaker {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#speakerContent{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 65%;
}
#speakerContent h2 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 500;
  color: #4E6052;
  font-style: italic;
  font-size: 1.75em;
  padding-bottom: 1em;
}
#speakerContent h1{
  font-family: 'Times New Roman'; /*'Merriweather', serif;*/
  font-weight: 300;
  color: #EB7923;
  margin-left: 1.5em;
  font-size: 3em;
}
#speakerText {
  width: 70%;
  margin: 0 auto;
  padding-left: 10em;
}
#speakerText p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.25em;
  margin-top: 2em;
  color: #4E6052;
}
#speakerText p:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Merriweather', serif;
  }
  #speakerText a{
    color: #EB7923;
    font-family: 'Special Elite', Times, serif;
  }



/*   ====== FOOTER ======== */
#designedBy {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer a{
  color: #C88239;
}
footer {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 4em auto 0 auto;
  bottom: 0;
}

footer p{
  color: gray;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}
#noPipe {
  display: flex;
  flex-direction: row;
}
@media (max-width: 40em){

  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    font-size: 0.7em;
  }
  #designedBy {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 40em){
  #noPipe::after {
    content: "|";
    padding-left: 5px;
  }

}
